/*@import url('./css/containers.css');*/
@import url(./css/header.css);
@import url(./css/tabs.css);
@import url(./css/flex.css);

:root {
    --t-color-blue: #14244e;
    --t-color-light-blue: #8AC0FF;
    --t-color-blue-tint: #3B99E0;
    --t-color-blue-green: #17A2B8;
    --t-color-green: #127862;
    --t-color-light: #FFFFFF;
    --t-color-light-grey: rgb(233,236,239);
    --t-color-medium: rgb(73,80,87);
    --t-color-dark-tint: #343840;
    --t-color-dark: #212529;
    --t-color-red: #DC3545;
}

h1, h2, h3, h4, h5, h5, p, a, li, span, small {
    font-family: "Montserrat", sans-serif;
}

p {
    color: var(--t-color-dark);
    font-size: 16px;
    line-height: 20px;
}

hr {
    background: var(--t-color-medium);
}

.app-body {
    margin: 0 auto;
    padding-bottom: 150px;
    background: var(--t-color-light);
}

.screen-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading-indicator {
    z-index: 999999;
}

.terms-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.terms-card {
    display: inline-block;
    width: 80%;
}

.blue-button, .light-blue-button, .light-blue-outline-button, .disabled-outline-button {
    margin: 0;
    padding: 10px 20px;
    background: var(--t-color-blue);
    border: none;
    border-radius: 4px;
    color: var(--t-color-light);
}

.light-blue-button {
    background: var(--t-color-light-blue);
}

.light-blue-outline-button {
    background: transparent;
    color: var(--t-color-light-blue);
    border: 1px solid var(--t-color-light-blue);
}

.disabled-outline-button {
    background: transparent;
    color: var(--t-color-medium);
    border: 1px solid var(--t-color-medium);
}

.terms-submit {
    width: 112px;
    height: 63px;
    padding: 0;
}

.terms-submit-disabled {
    background: var(--t-color-light-grey);
    color: var(--t-color-medium);
}

.drop-button-span {
    background: var(--t-color-red);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.auto-filter-span {
    background: var(--t-color-blue);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

/* brg 6/19/23: fixed-width keyword-badges + column-gap fakes out columns */
.keyword-container {
    display: flex;
    /* display: grid; */
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* align-content: space-between; */
    column-gap: 10px;
    /* align-items: center; */
    width: 100%;
}

/* brg 6/19/2023: set fixed width to simulate "columns" of keywords */
.keyword-badge {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    /* align-items: center; */
    background: var(--t-color-light);
    color: var(--t-color-blue);
    font-size: 12px;
    /* line-height: 16px; */
    border-radius: 5px;
    border: solid 1px;
    letter-spacing: 1px;
    margin: 2px 3px;
    padding: 3px 5px;
    width: 200px;
}

.selected-keyword-badge {
    border: solid 2px;
}

.blue-green-badge {
    background: var(--t-color-blue-green);
}

.keyword-badge:hover {
    cursor: pointer;
}

.transparent-blue-green-badge {
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    letter-spacing: 1px;
    margin: 2px 8px 2px 0;
    padding: 2px 4px;
    background: transparent;
    color: var(--t-color-blue-green);
    cursor: default !important;
}

.inner-badge {
    color: var(--t-color-dark);
    font-size: 10px;
    /* line-height: 11px; */
    font-weight: 600;
    background:var(--t-color-light);
    padding: 1px 3px;
    border-radius: 4px;
    margin-right: 4px;
}


@keyframes fade-in {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1000ms;
}



@media only screen and (max-width: 950px) {
    .terms-container {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .terms-card {
        width: 100%;
    }

    .terms-submit {
        margin-top: 10px;
        width: 112px;
        height: 63px;
    }
}

.title-with-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}

.toggle-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.title-with-options h3 {
  margin: 0;
}

.t-toggle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}


.toggle-left,
.toggle-right {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--t-color-blue);
  border-top: 1px solid var(--t-color-blue);
  padding: 5px 10px;
  width: 100px !important;
  font-size: 18px;
}

.toggle-left {
  border-left: 1px solid var(--t-color-blue);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.toggle-right {
  border-right: 1px solid var(--t-color-blue);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.active {
  color: var(--t-color-light);
  background: var(--t-color-blue);
  animation-name: fade-in;
  animation-duration: 500ms;
}

.inactive {
  color: var(--t-color-medium);
  background: var(--t-color-light-grey)
}

.compress {
  animation-name: compress;
  animation-duration: 800ms;
}

.error-message {
  width: 100%;
  text-align: center;
  color: var(--t-color-red);
  padding: 10px 40px;
}

.searchType {
    padding-top: 50px;
}
