/*@import url('./css/containers.css');*/
@import url(./css/header.css);

:root {
    --t-color-blue: #14244e;
    --t-color-light-blue: #8AC0FF;
    --t-color-blue-tint: #3B99E0;
    --t-color-blue-green: #17A2B8;
    --t-color-green: #127862;
    --t-color-light: #FFFFFF;
    --t-color-light-grey: rgb(233,236,239);
    --t-color-medium: rgb(73,80,87);
    --t-color-dark-tint: #343840;
    --t-color-dark: #212529;
    --t-color-red: #DC3545;
}

h1, h2, h3, h4, h5, h5, p, a, li, span, small {
    font-family: "Montserrat", sans-serif;
}

p {
    color: var(--t-color-dark);
    font-size: 16px;
    line-height: 20px;
}

.app-body {
    margin: 0 auto;
    padding-bottom: 150px;
    background: var(--t-color-light);
}

.screen-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading-indicator {
    z-index: 999999;
}

.tabs {
    margin: 20px;
}


.nav-link {
    color: var(--t-color-blue) !important;
    background: var(--t-color-light-grey) !important;
    border-color: var(--t-color-light-grey) var(--t-color-light-grey) transparent !important;
    margin-right: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link  {
    background: var(--t-color-dark-tint) !important;
    border-color: var(--t-color-dark) var(--t-color-dark) var(--t-color-dark-tint) !important;
    color: var(--t-color-blue)
}

.active {
    color: var(--t-color-light) !important;
}

.active-tab {
    background: var(--t-color-dark-tint) !important;
    border-top-right-radius: 4px;
}





.terms-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.terms-card {
    display: inline-block;
    width: 80%;
}

.blue-button {
    margin: 0;
    padding: 10px 20px;
    background: var(--t-color-blue);
    border: none;
    border-radius: 4px;
    color: var(--t-color-light);
}

.terms-submit {
    width: 112px;
    height: 63px;
    padding: 0;
}

.drop-button-span {
    background: var(--t-color-red);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.auto-filter-span {
    background: var(--t-color-blue);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.keyword-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.keyword-badge {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: var(--t-color-blue);
    color: var(--t-color-light);
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin: 2px 3px;
    padding: 3px 5px;
}

.red-badge {
    background: var(--t-color-red);
}

.blue-green-badge {
    background: var(--t-color-blue-green);
}

.keyword-badge:hover {
    cursor: pointer;
}

.inner-badge {
    color: var(--t-color-dark);
    font-size: 10px;
    line-height: 11px;
    font-weight: 600;
    background:var(--t-color-light);
    padding: 1px 3px;
    border-radius: 4px;
    margin-left: 4px;
}


@keyframes fade-in {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1000ms;
}


@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 500ms;
}

@keyframes compress {
    from {
        height: auto;
    }

    to {
        height: 0;
    }
}




@media only screen and (max-width: 950px) {
    .terms-container {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .terms-card {
        width: 100%;
    }

    .terms-submit {
        margin-top: 10px;
        width: 112px;
        height: 63px;
    }
}
